@model PokefamCore.Models.Pokefam

@{
    ViewBag.Title = "GetPokefam";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="full-page">
    <h3>@Html.ActionLink("Dungeons and Dragons", "Index", "Dnd") >> @Html.ActionLink("Poke'fam", "Pokefam", "Dnd") >> @Model.Name</h3>
    <div>
        <div class="feed">
            <img id="pokefamImage" src="@Model.ImageUrl" />
        </div>
        <div class="content">
            <ul>
                @foreach (var ability in Model.Abilities)
        {
            <li class="pokefam-details">
                <strong>@ability.Name</strong>
                <p>@ability.GetDescriptionText()</p>
            </li>
}
            </ul>
        </div>
    </div>
</div>