@model PokefamCore.Models.Pokefam

@{
    ViewBag.Title = "GetPokefam";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="full-page">
    <h3>@Html.ActionLink("Dungeons and Dragons", "Index", "Dnd") >> @Html.ActionLink("Poke'fam", "Pokefam", "Dnd") >> @Model.Name</h3>
    <div>
        <ul>
            @foreach (var ability in Model.Abilities)
            {
            <li>
                <h4>@ability.Name</h4>
                <p>+ @ability.ToHit to Hit</p>
                <p>@ability.EffectRollNumber d6 + @ability.EffectRollConstant @ability.Type damage.</p>
                <p>@ability.Text</p>
            </li>
            }
        </ul>
    </div>
</div>